<link rel="stylesheet" href="/css/footer.css">
<footer class="sei-footer">
  <div class="footer-content">
    Núcleo de Gestão de Conhecimento e Informação Documentação e Memória.<br>
    Instituto Técnico-Científico de Perícia - ITEP.<br>
    &copy; <%= new Date().getFullYear() %> - Todos os direitos reservados
  </div>
</footer>
