<link rel="stylesheet" href="/css/sidebar.css">
<nav class="sei-sidebar">
  <input type="text" class="sei-menu-search" placeholder="Pesquisar no Menu">
  <ul class="sei-menu">
    <li><a href="/dashboard"><i class="bi bi-speedometer2"></i> <span>Painel de Controle</span></a></li>
    <li class="has-submenu">
      <a href="#" role="button" data-bs-toggle="collapse" data-bs-target="#custodiaSubmenu" aria-expanded="false" aria-controls="custodiaSubmenu">
        <i class="bi bi-archive"></i> <span>Custódia de Vestígios</span>
      </a>
      <ul class="collapse submenu" id="custodiaSubmenu">
        <li><a href="/custodia-vestigios/vestigios"><i class="bi bi-box-seam"></i> <span>Vestígios</span></a></li>
        <li><a href="/custodia-vestigios/localizacoes"><i class="bi bi-geo-alt"></i> <span>Localizações</span></a></li>
      </ul>
    </li>
    <li><a href="/movimentacoes"><i class="bi bi-arrow-left-right"></i> <span>Movimentações</span></a></li>
    <li><a href="/usuarios"><i class="bi bi-people"></i> <span>Usuários</span></a></li>
    <li><a href="/relatorios"><i class="bi bi-bar-chart-line"></i> <span>Relatórios</span></a></li>
    <li><a href="/importacao/importacao"><i class="bi bi-upload"></i> <span>Importação</span></a></li>
    <li class="has-submenu">
      <a href="#" role="button" data-bs-toggle="collapse" data-bs-target="#nugecidSubmenu" aria-expanded="false" aria-controls="nugecidSubmenu">
        <i class="bi bi-lightbulb"></i> <span>NUGECID</span>
      </a>
      <ul class="collapse submenu" id="nugecidSubmenu">
                <li><a href="/nugecid/desarquivamento"><i class="bi bi-archive"></i> <span>Desarquivamento</span></a></li>
      </ul>
    </li>
    <li><a href="/sobre"><i class="bi bi-info-circle"></i> <span>Sobre</span></a></li>
    <li><a href="/auth/logout"><i class="bi bi-box-arrow-right"></i> <span>Sair</span></a></li>
  </ul>
</nav>
