<nav class="sei-sidebar">
  <div class="sidebar-header">
    <img src="/img/itep_logo.png" alt="ITEP Logo">
    <span>SGC-ITEP</span>
  </div>
  <ul class="sei-menu">
    <li><a href="/dashboard"><i class="bi bi-speedometer2"></i> <span>Painel de Controle</span></a></li>
    <li class="has-submenu">
      <a href="#" role="button" data-bs-toggle="collapse" data-bs-target="#nugecidSubmenu" aria-expanded="false" aria-controls="nugecidSubmenu">
        <i class="bi bi-archive"></i> <span>NUGECID</span>
      </a>
      <ul class="collapse submenu" id="nugecidSubmenu">
        <li><a href="/nugecid"><i class="bi bi-file-earmark-zip"></i> <span>Desarquivamento</span></a></li>
      </ul>
    </li>
    <li><a href="/usuarios"><i class="bi bi-people"></i> <span>Usuários</span></a></li>
    <li><a href="/relatorios"><i class="bi bi-bar-chart-line"></i> <span>Relatórios</span></a></li>
    <li><a href="/importacao/importacao"><i class="bi bi-upload"></i> <span>Importação</span></a></li>
    <li><a href="/collaborative-editor"><i class="bi bi-pencil-square"></i> <span>Editor Colaborativo</span></a></li>
    <li><a href="/viewer"><i class="bi bi-eye"></i> <span>Visualizador</span></a></li>
    <li><a href="/sobre"><i class="bi bi-info-circle"></i> <span>Sobre</span></a></li>
  </ul>
</nav>
